<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Simplify.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SimplifyFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SimplifyResources.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>49748F5E191849C600738BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49748F6E191849C600738BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>49748F94191870F500738BC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4977D05C191AB89C00AC621F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
